
*,
*:after,
*:before {
  box-sizing: border-box;
}

@font-face {
    font-family: 'apercubold';
    src: url('../fonts/ApercuBold-webfont.eot');
    src: url('../fonts/ApercuBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ApercuBold-webfont.woff2') format('woff2'),
         url('../fonts/ApercuBold-webfont.woff') format('woff'),
         url('../fonts/ApercuBold-webfont.ttf') format('truetype'),
         url('../fonts/ApercuBold-webfont.svg#apercumedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'griffithgothicblack';
    src: url('../fonts/GriffithGothic-Black-webfont.eot');
    src: url('../fonts/GriffithGothic-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GriffithGothic-Black-webfont.woff2') format('woff2'),
         url('../fonts/GriffithGothic-Black-webfont.woff') format('woff'),
         url('../fonts/GriffithGothic-Black-webfont.ttf') format('truetype'),
         url('../fonts/GriffithGothic-Black-webfont.svg#griffithgothicblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercumedium';
    src: url('../fonts/Apercu Medium-webfont.eot');
    src: url('../fonts/Apercu Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Apercu Medium-webfont.woff2') format('woff2'),
         url('../fonts/Apercu Medium-webfont.woff') format('woff'),
         url('../fonts/Apercu Medium-webfont.ttf') format('truetype'),
         url('../fonts/Apercu Medium-webfont.svg#apercumedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


  /* Positioning */

  /* Box-model */

  /* Typography */

  /* Visual */

  /* Misc */


img.gradient {
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}


.title {
  /* Positioning */
  position: relative;
  float: right;
  margin-right: 10%;
  top: 12px;
  z-index: 1;
  /* Box-model */
  /* Typography */
  font-family: griffithgothicblack;
  font-size: 35px;
  /* Visual */
  /* Misc */
  
}

a:link,
a:visited {
  color: #FFF;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::-webkit-input-placeholder {
   color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

:-ms-input-placeholder {  
   color: #FFF;  
}

.gradient-box {
  background: -webkit-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* Standard syntax */
  border: 2px solid #FFF;
  border-radius: 9px;
}

.login {
  /* Positioning */
  clear: right;
  float: right;
  position: relative;
  top: -10px;
  right: 15%;
  /* Box-model */
  width: 58px;
  padding: 2px 10px;
  /* Typography */
  font-family: apercumedium;
  font-size: 15px;
  /* Visual */
  /* Misc */  
}

.marquee {
  /* Positioning */
  display: block;
  margin: 0 auto;
  /* Box-model */
  width: 80%;
  height: 40px;
  overflow: hidden;
  /* Typography */
  /* Visual */
  background-color: #FFF;
  border: solid ;
  /* Misc */
}

.staticbox h3 {
    /* Positioning */
    text-align: center;
    /* Box-model */
    /* Typography */
    font-family: griffithgothicblack;
    font-size: 18px;
    /* Visual */
    /* Misc */    
  }

.align-right {
  text-align: right;
}

.static-table {
    /* Positioning */
    margin: auto;
    /* Box-model */
    /* Typography */
    font-family: apercumedium;
    font-size: 12px;
    /* Visual */
    /* Misc */    
  }

.marquee h2 {
  /* Positioning */
  /* Box-model */
  margin-top: 2px;
  /* Typography */
  font-family: griffithgothicblack;
  font-size: 25px;
  /* Visual */
  /* Misc */
}

.search-bar {
  /* Positioning */
  /* Box-model */
  padding: 0px 20px;
  /* Typography */
  /* Visual */
  /* Misc */
}

.search-type {
  /* Positioning */
  /* Box-model */
  padding: 10px 10px;
  /* Typography */
  /* Visual */
  border-color: rgba(0, 0, 0, 0);
  outline: 0;
  /* Misc */
}

input[type=text] {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: apercumedium;
  font-size: 21px;
  color: #FFF;
  /* Visual */
  background-color: rgba(0, 0, 0, 0);
  /* Misc */
}

/*========================
      LOAN
  ========================*/

.form-text{
    /* Positioning */
    display: block;
    /* Box-model */
    /* Typography */
    font-family: griffithgothicblack;
    font-size: 18px;
    /* Visual */
    color: #000;
    /* Misc */
  }
  
  .gap {
    margin-bottom: 20px;
  }

/*========================
      MOBILE
  ========================*/

@media screen and (max-width: 599px) {

  .container {
    overflow-x: hidden;
  }

  .background {
    display: none;
  }

  .gradient-box {
    width: 100%;
  }

  /*========================
      HEADER
    ========================*/

  .header {
    height: 75px;
  }

  .title {
    /* Positioning */
      position: relative;
    /* Box-model */
      margin-right: 5%;
    /* Typography */
  
    /* Visual */
      z-index: 1;
    /* Misc */
  }

  #title {
    font-size: 30px;
  }

  .login {
    /* Positioning */
      position: relative;
    /* Box-model */
      width: auto;
      margin-right: 5%;
    /* Typography */
    /* Visual */
      z-index: 3;
    /* Misc */
  }

  .login a {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 20px;
    /* Visual */
    /* Misc */
  }

  .marquee {
    /* Positioning */
      position: relative;
      top: -35px;
    /* Box-model */
      clear: right;
      width: 90%;
    /* Typography */
    /* Visual */
      z-index: 2;
    /* Misc */
  }

  /*========================
      CONTAINER
    ========================*/
  #search-nav {
    /* Positioning */
    /* Box-model */
    width: 100%;
    padding-left: 0;
    /* Typography */
    /* Visual */
    z-index: 3;
    /* Misc */
  }
  .search-li {
    padding-left: 0;
  }

  .search-li li {
    /* Positioning */
    /* Box-model */
    padding: 20px 21px;
    margin-bottom: 10px;
    /* Typography */
    font-family: apercumedium;
    font-size: 20px;
    /* Visual */
    /* Misc */
  }
  .static {
    /* Positioning */
    /* Box-model */
    width: 100%;
    padding-left: 0;
    /* Typography */
    /* Visual */
    /* Misc */    
  }
  .staticbox {
    /* Positioning */
    /* Box-model */
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 0;
    /* Typography */
    /* Visual */
    background-color: #FFF;
    border: 3px solid #000;
    /* Misc */    
  }
  .links-list {
    margin-top: 0;
    padding-left: 0;
  }

  .quick-links {
    width: 100%;
    margin-top: 0;
  }

  .quick-links li {
    /* Positioning */
    /* Box-model */
    padding: 20px 21px;
    margin-top: 0;
    margin-bottom: 10px;
    /* Typography */
    font-family: apercumedium;
    font-size: 20px;
    /* Visual */
    /* Misc */
  }
  #link {
    display: block;
    width: 100%;
    height: 100%;
  }

  /*========================
    SEARCH POPOUT
  ========================*/

  .link-l a,
  .link-r a,
  .link-search a {
    /* Positioning */
    /* Box-model */
    padding: 20px 21px;
    margin-top: 0;
    /* Typography */
    font-family: apercumedium;
    font-size: 20px;
    /* Visual */
    /* Misc */
  }

  .back {
    display: none;
  }

  .mobile-object,
  .link-l,
  .link-r,
  .link-search {
    margin-bottom: 10px;
  }

  .multi-choice {
    padding: 20px 21px;
    margin-top: 0;
    /* Typography */
    font-family: apercumedium;
    font-size: 20px;
    /* Visual */
    color: #fff;
    /* Misc */
  }
  
  /*========================
    SEARCH RESULTS
  ========================*/

  .img-web,
  .img-web-center,
  .img-web-last {
    display: none;
  }

  .description-mobile {
    /* Positioning */
    /* Box Model*/
    margin-bottom: 10px;
    /* Typography */
    /* Visual */
    background-color: #fff;
    border: 3px solid #000;
    /* Misc */  
  }

  .description-mobile h1 {
    /* Positioning */
    float: left;
    /* Box Model*/
    padding-left: 10px;
    /* Typography */
    font-family: apercumedium;
    font-size: 20px;
    color: #000;
    /* Visual */
    
  }

  .description-mobile p {
    /* Positioning */
    /* Box Model*/
    padding-left: 40px;
    /* Typography */
    font-family: apercumedium;
    font-size: 15px;
    color: #000;
    /* Visual */
    
  }

  /*========================
    ADVANCED SEARCH
  ========================*/

  .category-left,
  .category-center,
  .category-right {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF;
    border: 3px solid #000;
  }

  .category-left h1,
  .category-center h1,
  .category-right h1 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: griffithgothicblack;
    font-size: 18px;
    /* Visual */
    color: #000;
    /* Misc */
  }
  .check-form {
    padding-left: 10px;
  }
  
  input[type='checkbox'] {
    /* Positioning */
    /* Box-model */
    width:40px;
    height:40px;
    /* Typography */
    /* Visual */     
    background:white;
    border-radius:5px;
    border:1px solid #555;
    /* Misc */
    -webkit-appearance:none;
  }
  
  input[type='checkbox']:checked {
    background: -webkit-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* Standard syntax */
  }
  .check-text {
    position: relative;
    top: -18px;
    font-family: apercumedium;
    font-size: 15px;
  }
  
  .view-all {
    /* Positioning */
    /* Box-model */
    width: 95%;
    margin-left: 2.5%;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 4px;
    /*margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;*/
    /* Typography */
    font-family: apercumedium;
    font-size: 13px;
    /* Visual */
    color: #fff;
    /* Misc */
  }

  /*========================
    LOAN
    ======================== */
  .book-choice {
    /* Positioning */
    /* Box-model */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    /* Typography */
    font-family: apercumedium;
    font-size: 13px;
    /* Visual */
    color: #fff;
    /* Misc */
  }

  input[type='radio'] {
    /* Positioning */
    /* Box-model */
    width:40px;
    height:40px;
    /* Typography */
    /* Visual */     
    background:white;
    border-radius:40px;
    border:1px solid #555;
    /* Misc */
    -webkit-appearance:none;
  }
  
  input[type='radio']:checked {
    background: -webkit-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* Standard syntax */
  }

  #yes {
    margin-right: 10px;
  }

}


/*========================
      DESKTOP
  ========================*/


@media screen and (min-width: 600px) {

  .index-gradient {
    display: none;
  }

  /*========================
      HEADER
    ========================*/

  .background {
    /* Positioning */
    position: absolute;
    display: block;
    /* Box-model */
    width: 65%;
    margin: 0 17.5%;

    /* Typography */

    /* Visual */

    /* Misc */
  }

  .header {
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 960px;
  }
  
  .login {
    position: relative;
    z-index: 3;
  }
  
  .marquee {
    width: 80%;
    position: relative;
    left: 36px;
    z-index: 2;
  }
  
  .title {
    position: relative;
    z-index: 1;
  }
  
  
  /*========================
      CONTAINER
    ========================*/
  
  .container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
  }
  
  #search-nav {
    /* Positioning */
    position: relative;
    top: 20px;
    /* Box-model */
    width: 70%;
    margin: 0 auto;
    /* Typography */
    /* Visual */
    z-index: 3;
    /* Misc */
  }
  
  .search-li li {
    /* Positioning */
    /* Box-model */
    padding: 17px 30px;
    margin-bottom: 10px;
    /* Typography */
    font-family: apercumedium;
    font-size: 20px;
    /* Visual */
    /* Misc */
  }
  
  .static {
    /* Positioning */
    float: right;
    /* Box-model */
    width: 35%;
    margin-right: -60px;
    margin-left: 20px;
    /* Typography */
    /* Visual */
    /* Misc */    
  }

  .staticbox {
    /* Positioning */
    position: relative;
    top: -120px;
    /* Box-model */
    margin-bottom: 10px;
    padding-bottom: 20px;
    /* Typography */
    /* Visual */
    background-color: #FFF;
    border: 3px solid #000;
    /* Misc */    
  }

  .links-list {
    margin-top: 0;
  }
  
  .quick-links {
    position: relative;
    top: -120px;
    float: left;
    width: 35%;
    margin-right: 20px;
    margin-left: -60px;
    margin-top: 0;
  }

  .quick-links li {
    /* Positioning */
    /* Box-model */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    /* Typography */
    font-family: apercumedium;
    font-size: 13px;
    /* Visual */
    /* Misc */
  }

  #link {
      display: block;
      width: 100%;
      height: 100%;
    }

    /*========================
      SEARCH POPOUT
    ========================*/
    .link-l a,
    .link-r a,
    .link-search a,
    .multi-choice {
    /* Positioning */
    /* Box-model */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    /* Typography */
    font-family: apercumedium;
    font-size: 13px;
    /* Visual */
    color: #fff;
    /* Misc */
  }

    .multi-choice {
      width: 100%;
    }

    .link-l {
      /* Positioning */
        float:left;
      /* Box-model */
        width:40%;
        margin-bottom: 60px;
      /* Typography */

      /* Visual */

      /* Misc */
    }

    .link-r {
      /* Positioning */
        float:right;
      /* Box-model */
        width: 40%;
        margin-bottom: 60px;
      /* Typography */

      /* Visual */

      /*Misc */
    }

    .link-search {
      /* Positioning */
        float:right;
      /* Box-model */
        width: 40%;
        margin-bottom: 53px;
      /* Typography */

      /* Visual */

      /* Misc */
    }

    .close {
      display: none;
    }

    /*========================
      SEARCH RESULTS
    ========================*/
    .img-container {
      float: none;
      margin: 0 auto;
    }
    
    .img-web img,
    .img-web-center img,
    .img-web-last img {
      width: 100%;
      height: auto;
    }

    .img-web {
      float:left;
      margin-left: 10%;
      width: 25%;
      margin-right: 3%;
    }

    .img-web-center {
      float:left;
      width: 25%;
      margin-right: 3%;
    }

    .img-web-last {
      float:left;
      margin-right: -10%;
      width: 25%;
    }

    .description {
      /* Positioning *//*
      display: none;*/
      position: relative;
      top: -190px;
      float: none;
      /* Box-model */
      width: 100%;
      padding-left: 2%;
      /* Typography */
      font-family: apercumedium;
      font-size: 13px;
      /* Visual */
      color: #fff;
      /* Misc */
    }

    /*.img-web:hover .description,
    .img-web-center:hover .description,
    .img-web-last:hover .description {
      display: block;
    }
*/

    .description-mobile {
      display: none;
    }

    /*========================
      ADVANCED SEARCH
    ========================*/
    .category-left {
      margin-left: 5%;
    }
    
    .category-left,
    .category-center {
      margin-right: 3%;
    }

    .category-left,
    .category-center,
    .category-right {
      position: relative;
      float: left;
      margin-bottom: 10px;
      min-height: 217px;
      width: 20%;
      background-color: #FFF;
      border: 3px solid #000;
    }

    .category-left h1,
    .category-center h1,
    .category-right h1 {
      /* Positioning */
      /* Box-model */
      /* Typography */
      font-family: griffithgothicblack;
      font-size: 18px;
      /* Visual */
      color: #000;
      /* Misc */
    }

    .category-top {
      margin-top: 30px;
    }

    .category-bottom {
      margin-bottom: 30px;
    }

    .check-form {
      padding-left: 10px;
    }
    

    input[type='checkbox'] {
      /* Positioning */
      /* Box-model */
      width:15px;
      height:15px;
      /* Typography */
      /* Visual */     
      background:white;
      border-radius:5px;
      border:1px solid #555;
      /* Misc */
      -webkit-appearance:none;

    }
    
    input[type='checkbox']:checked {
      background: -webkit-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(rgba(51, 51, 51, .7), rgba(153, 153, 153, .7)); /* Standard syntax */
    }

    .check-text {
      position: relative;
      top: -6px;
      font-family: apercumedium;
      font-size: 10px;
    }
    
    .view-all {
      /* Positioning */
      position: absolute;
      bottom: 5px;
      left: 5%;
      /* Box-model */
      width: 90%;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      /*margin-left: auto;
      margin-right: auto;
      margin-bottom: 3px;*/
      /* Typography */
      font-family: apercumedium;
      font-size: 13px;
      /* Visual */
      color: #fff;
      /* Misc */
    }

    /*========================
      LOAN
    ========================*/

    #form-selection {
      margin-bottom: 10px;
    }

    .book-choice {
      /* Positioning */
      /* Box-model */
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 0;
      /* Typography */
      font-family: apercumedium;
      font-size: 13px;
      /* Visual */
      color: #fff;
      /* Misc */
    }

    .gap {
      width:60%;
    }

    #yes,
    #no {
      position: relative;
      top: -1.5px;
      left: 5px;
      margin-right: 10px;
    }

    .form-info {
      margin-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.gradient {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


